<div id="Acelerometro" class="MainAppProg ng-scope" style="height: 93%;">
    <div class="menu_area_body_prog" style="display:block;height: 100%;display: grid;grid-template-rows: 30% 70%;">
        <!-- Frame Superior com a seta 3D -->
        <div class="frame" id="frameSuperior" style="display: flex;align-items: center;justify-content: center;">
            <div class="arrow-3d" id="arrow3d" style="transform: rotateX(-0.9deg) rotateY(-2.2deg);"></div>
        </div>

        <!-- Frame Inferior com os inputs -->
        <div class="frame" id="frameInferior">
            <h2>Dados do Acelerômetro</h2>

            <!-- Dados do Acelerômetro -->
            <div class="AgrupaFields" style="display: flex;align-items: center;justify-content: center;">
                <div class="material-textfield">
                    <input class="input ng-pristine ng-untouched ng-valid ng-not-empty" disabled=""
                        ng-model="acceleration.x" placeholder=" " type="text">
                    <label class="label">Aceleração X (m/s²)</label>
                </div>
                <div class="material-textfield">
                    <input class="input ng-pristine ng-untouched ng-valid ng-not-empty" disabled=""
                        ng-model="acceleration.y" placeholder=" " type="text">
                    <label class="label">Aceleração Y (m/s²)</label>
                </div>
                <div class="material-textfield">
                    <input class="input ng-pristine ng-untouched ng-valid ng-not-empty" disabled=""
                        ng-model="acceleration.z" placeholder=" " type="text">
                    <label class="label">Aceleração Z (m/s²)</label>
                </div>
            </div>

            <!-- Velocidade e Distância -->
            <div class="AgrupaFields" style="display: flex;align-items: center;justify-content: center;">
                <div class="material-textfield">
                    <input class="input ng-pristine ng-untouched ng-valid ng-not-empty" disabled=""
                        ng-model="velocidade" placeholder=" " type="text">
                    <label class="label">Velocidade (m/s)</label>
                </div>
                <div class="material-textfield">
                    <input class="input ng-pristine ng-untouched ng-valid ng-not-empty" disabled="" ng-model="distancia"
                        placeholder=" " type="text">
                    <label class="label">Distância (m)</label>
                </div>
            </div>

            <!-- Botão de Voltar -->
            <!-- <button class="button button-positive" ng-click="returnMenu()">Voltar</button> -->
        </div>
    </div>
</div>